<app-dashboard-component></app-dashboard-component>

<!-- Pet or all pet information to be displayed after entering information-->



<form>
<div id="allpetinfo">
    
<h1>Get all pets:</h1>
<input type="submit" value="Get all dogs" id="getalldogs" (click)="getAllDogs()" onclick="this.disabled = true">
<input type="submit" value="Get all cats" id="getallcats" (click)="getAllCats()" onclick="this.disabled = true"> 
</div>
</form>
<div *ngIf="showdogs">
    <li *ngFor="let dog of dogs" id="listofdogs">
        ID: {{ dog.id}}, First Name: {{ dog.firstName}}, Breed: {{ dog.breed}}, Age: {{ dog.age}}
    </li>
</div>

<div *ngIf="showcats">
<li *ngFor="let cat of cats">
        ID: {{ cat.id}}, First Name: {{ cat.firstName}}, Breed: {{ cat.breed}}, Age: {{ cat.age}}
    </li>
    </div>

 <div *ngIf="showErrorMessage" style="text-align:center">
    <h1>Could not get pets. Try again</h1>
    </div>

    